.puzzle-background {

    list-style-type: none;
    display: flex;
    position: relative;
    width: 20.813em;
    height: 20.813em;
    overflow: hidden;

}
    ul {
        // list-style-type: none;
        // display: flex;
        // position: relative;
        li {
            height: 10.250em;
            width: 10.250em;
            margin: 0.1em;
            cursor: pointer;
            position: absolute;
            -webkit-transition: transform 0.25s;
            transition: transform 0.25s;
        }
    }

    .piece-4 {
        display: none;

    }
