.puzzle-background {
    list-style-type: none;
    display: flex;
    position: relative;
    // width: 20.813em;
    // height: 20.813em;
    overflow: hidden;
    border: 0.1rem solid black;


}
    ul {
        list-style-type: none;
        display: flex;
        position: relative;
        li {
            margin: 0.1rem 0.1rem 0.1rem 0.1rem ;
            cursor: pointer;
            position: absolute;
            -webkit-transition: transform 0.25s;
            transition: transform 0.25s;
            background: url('') no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    }

    .piece-4 {
        display: none;

    }
