<h1>{{title}}</h1>

     <ul class="puzzle-background">
        <li class="piece-1 pieces"></li>
        <li class="piece-2 pieces"></li>
        <li class="piece-3 pieces"></li>
        <li class="piece-4 pieces"></li>
     </ul>

<script src="/js/puzzle.js"></script>
