<h1>{{title}}</h1>

     <ul class="puzzle-background">
        <li class="piece-1 pieces"></li>
        <li class="piece-2 pieces"></li>
        <li class="piece-3 pieces"></li>
        {{!-- <li class="piece-4 pieces"></li> --}}
     </ul>



 <div id="slider">
    <form>
      <label>Easy</label>
      <input type="range" id="scale" value="4" min="3" max="5" step="1">
      <label>Hard</label>
    </form>
    <br>
  </div>
  <div id="main" class="main">
    <canvas id="puzzle" width="480px" height="480px"></canvas>
  </div>

<script src="/js/puzzle.js"></script>
