<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


     <ul class="puzzle-background">
     <ol>

          <li class="piece-1 pieces"></li>
          <li class="piece-2 pieces"></li>
     </ol>


    <ol>
          <li class="piece-3 pieces"></li>
          <li class="piece-4 pieces"></li>
     </ol>
     </ul>
<script src="/js/puzzle.js"></script>
