    <main class="main-background">
        <h1>{{title}}</h1>

        <ul class="puzzle-background">

        </ul>

        <div id="slider">
            <form>
              <label>Easy</label>
              <input type="range" id="scale" value="4" min="2" max="6" step="2">
              <label>Hard</label>
            </form>
        </div>
        <canvas id="confetti"></canvas>
    </main>

    <script src="/js/puzzle.js"></script>

